<%= link_to new_post_path do %>
<br/>
  <strong id="title">Add New post</strong>
  <br/><br/>
<% end %>


<% @posts.reverse.each do |post| %>
<article style="border-style: groove">
  <p id="post_message">
    <%= post.message %><br/>
    <p>Comments:<p/>
    <% post.comments.reverse.each do |c| %>
    <%= c.comment %>
    <br/>
    <% end %>
    <br/>
  </p>
  <p id="time">Created on: <span ><%= post.created_at.strftime("%D %T") %></span>
  </p>

  <%= link_to post_path(post) do %>
  <span id="view">View</span>
  <% end %>
  <br/>
</article>
<br/>
<% end %>
