<!DOCTYPE html>
<html>
  <head>

    <style>

    article {
      background: lightblue;
      width: 30%;
    }

    body {
      font-family: monospace;
      background: cornsilk;
    }

    #title {
      font-size: 30px;

    }

    #post_message {
      font-size: 17px;
    }

    #view {

    }

    #time {
      font-size: 12px;
    }

    #nav-bar {
      background-color: lightgreen;
    }
    </style>



    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <h1><strong>ACEBOOK by SEPS</strong></h1>
    <div id='nav-bar'>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Sign in', sign_in_path %>
      <%= link_to 'Sign up', sign_up_path %>
    </div>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
